{#
 # This file is intentionally empty, as the UI is defaulted to being built
 # via the core block system. To utilize twig, copy this file to your theme's
 # templates directory and build the UI via twig/HTML.
 #}
{# Uncomment below for a starting point.
<div id="coveo-search-ui">
  <div class="CoveoSearchbox" id="coveo_block_search_box" label="Coveo: Search Box" label_display="0" provider="coveo_js" data-enable-reveal-query-suggest-addon="true" data-enable-omnibox="true"></div>
  <div class="CoveoQuerySummary" id="coveo_block_query_summary" label="Coveo: Query Summary" label_display="0" provider="coveo_js"></div>
  <div class="CoveoResultList" id="coveo_block_result_list" label="Coveo: Result List" label_display="0" provider="coveo_js" data-layout="list" data-wait-animation="fade" data-auto-select-fields-to-include="true"></div>
  <div class="CoveoPager" id="coveo_block_pager" label="Coveo: Pager" label_display="0" provider="coveo_js"></div>
  <div class="CoveoErrorReport" id="coveo_block_error_report" label="Coveo: Error Report" label_display="0" provider="coveo_js"></div>
</div>
#}
